<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <span>{{user.username}} on {{format_date created_at}}</span>
  </div>
  <div class="content">
    {{post_text}}
  </div>
</article>